<a href="https://colab.research.google.com/github/kaiyoken3618/Deduplication/blob/main/Deduplicatin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing Package

In [2]:
!pip install recordlinkage

Collecting recordlinkage
  Downloading https://files.pythonhosted.org/packages/db/26/babbca39d74824e8bc17428a8eb04951a1d63318af7d02beeb2106a1ec26/recordlinkage-0.14-py3-none-any.whl (944kB)
     |████████████████████████████████| 952kB 13.6MB/s
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (0.22.2.post1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.19.5)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.5)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.0.1)
Collecting jellyfish>=0.5.4
  Downloading https://files.pythonhosted.org/packages/30/a6/4d039bc827a102f62ce7a7910713e38fdfd7c7a40aa39c72fb14938a1473/jellyfish-0.8.2-cp37-cp37m-manylinux2014_x86_64.whl (90kB)
     |████████████████████████████████| 92kB 8.9MB/s
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.8.2 recordlinkage-0.14

Importing Pre-built dataset

In [3]:
import recordlinkage
from recordlinkage.datasets import load_febrl1

Dataset

In [4]:
import pandas as pd 
dfA = load_febrl1()

dfA.head()

             given_name     surname  ... date_of_birth soc_sec_id
rec_id                               ...
rec-223-org         NaN      waller  ...      19081209    6988048
rec-122-org     lachlan       berry  ...      19990219    7364009
rec-373-org      deakin  sondergeld  ...      19600210    2635962
rec-10-dup-0      kayla  harrington  ...      19150612    9004242
rec-227-org        luke      purdon  ...      19831024    8099933

[5 rows x 10 columns]

Making record Pairs

In [5]:
indexer = recordlinkage.Index()
indexer.full()
candidate_links = indexer.index(dfA)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [6]:
print (len(dfA), len(candidate_links)) 
# (1000*1000-1000)/2 = 499500

1000 499500

Blocking Method

In [7]:

indexer = recordlinkage.Index()
indexer.block('given_name')
candidate_links = indexer.index(dfA)

print (len(candidate_links))

2082

Comparing Records

In [12]:
# This cell can take some time to compute.
compare_cl = recordlinkage.Compare()

compare_cl.exact('given_name', 'given_name', label='given_name')
compare_cl.string('surname', 'surname', method='jarowinkler', threshold=0.85, label='surname')
compare_cl.exact('date_of_birth', 'date_of_birth', label='date_of_birth')
compare_cl.exact('suburb', 'suburb', label='suburb')
compare_cl.exact('state', 'state', label='state')
compare_cl.string('address_1', 'address_1', threshold=0.85, label='address_1')

features = compare_cl.compute(candidate_links, dfA) 
features.head(10)

       given_name      surname  ...        state    address_1
count      2082.0  2082.000000  ...  2082.000000  2082.000000
mean          1.0     0.144092  ...     0.327089     0.133045
std           0.0     0.351268  ...     0.469263     0.339705
min           1.0     0.000000  ...     0.000000     0.000000
25%           1.0     0.000000  ...     0.000000     0.000000
50%           1.0     0.000000  ...     0.000000     0.000000
75%           1.0     0.000000  ...     1.000000     0.000000
max           1.0     1.000000  ...     1.000000     1.000000

[8 rows x 6 columns]

Feature Describe

In [13]:
features.describe()

       given_name      surname  ...        state    address_1
count      2082.0  2082.000000  ...  2082.000000  2082.000000
mean          1.0     0.144092  ...     0.327089     0.133045
std           0.0     0.351268  ...     0.469263     0.339705
min           1.0     0.000000  ...     0.000000     0.000000
25%           1.0     0.000000  ...     0.000000     0.000000
50%           1.0     0.000000  ...     0.000000     0.000000
75%           1.0     0.000000  ...     1.000000     0.000000
max           1.0     1.000000  ...     1.000000     1.000000

[8 rows x 6 columns]

Sum

In [14]:
# Sum the comparison results.
features.sum(axis=1).value_counts().sort_index(ascending=False)

6.0     142
5.0     145
4.0      30
3.0       9
2.0     376
1.0    1380
dtype: int64

Match

In [15]:

matches = features[features.sum(axis=1) > 3]

print(len(matches))
matches.head(10)

317

                             given_name  surname  ...  state  address_1
rec_id_1      rec_id_2                            ...
rec-122-dup-0 rec-122-org             1      1.0  ...      1        1.0
rec-183-org   rec-183-dup-0           1      1.0  ...      1        1.0
rec-248-dup-0 rec-248-org             1      1.0  ...      1        1.0
rec-373-dup-0 rec-373-org             1      1.0  ...      1        1.0
rec-10-org    rec-10-dup-0            1      1.0  ...      1        1.0
rec-342-dup-0 rec-342-org             1      1.0  ...      1        1.0
rec-397-org   rec-397-dup-0           1      1.0  ...      1        0.0
rec-472-org   rec-472-dup-0           1      1.0  ...      1        0.0
rec-330-org   rec-330-dup-0           1      0.0  ...      1        0.0
rec-190-org   rec-190-dup-0           1      1.0  ...      1        1.0

[10 rows x 6 columns]